.venv
.history/
data/
wandb/
output/
*.pth
*.csv
.ipynb_checkpoints/
.history/*
.ipynb_checkpoints/*
__pycache__/
__pycache__/*
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
.DS_Store
src/__pycache__/
src/__pycache__/*

